.search-container {
  display: flex;
  justify-content: flex-end;

  &__box {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
  }

  &__input {
    padding: 1rem 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: #d6d3d3;
    color: inherit;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    width: 85%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }
  }
}
