.character-list-page {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;

  .title {
    align-self: center;
    font-size: 7rem;
    font-weight: 900;
    color: #ed1d24;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2rem 0;
    font-size: 2rem;

    .item {
      background-color: #ed1d24;
      margin: 0.2rem;

      &.active {
        background-color: white;

        .link.undefined {
          color: #ed1d24;
        }
      }

      .link:link,
      .link:visited {
        padding: 1rem 2rem;
        height: 100%;
        text-decoration: none;
        display: block;
        color: white;
      }

      .link:hover,
      .link:active {
        background-color: white;
        color: #ed1d24;
      }
    }
  }
}
