.character-list-container {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;

  .character-list {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
  }
}
